<!DOCTYPE html>
<html>
  <head>
    <title>Libro.fm | Audiobooks for indies</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class='<%= controller.controller_name %>'>
    <div id="banner">
      <%= link_to store_index_url do %>
        <%= image_tag 'logo.png', alt: 'Libro.fm | Audiobooks for indies' %>
        <span class="title"><%= @page_title %></span>
      <% end %>
    </div>

    <div id="columns">
      <div id="side">
        <%= render 'layouts/side_menu' %>
        <br><br>
        <div id="cart">
          <% if @cart %>
            <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
              <%= render @cart %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
